<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace该是ResidentMapper的完整限定名-->
<mapper namespace="com.cams.dao.ResidentMapper">
    <insert id="insertResident" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into resident
        (name, role,gender, openid, identity_card, phone, email, intro, img_path,salt, `password`)
        values
        (#{name}, #{role},#{gender}, #{openid}, #{identityCard},#{phone}, #{email}, #{intro}, #{imgPath},#{salt}, #{password});
    </insert>
</mapper>