<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace该是ResidentMapper的完整限定名-->
<mapper namespace="com.cams.dao.mapper.SponsorMapper">
    <insert id="insertActivity" parameterType="Activity" useGeneratedKeys="true" keyProperty="id">
        insert into  activity
        ( name,status,number ,start_Time,end_Time,intro,type,sponsor,coach,place)
        values
        (#{name},#{status},#{number },#{startTime},#{endTime},#{intro},#{type},#{sponsor},#{coach},#{place});
    </insert>
    <update id="updateActivity"  parameterType="Activity" useGeneratedKeys="true" keyProperty="id">
        update  activity
        <trim prefix="set" suffixOverrides=",">
        <if test="name!=null">name=#{name},</if>
        <if test="status!=null">status=#{status},</if>
        <if test="number!=null">number=#{number},</if>
        <if test="startTime!=null">start_Time=#{start_time},</if>
        <if test="endTime!=null">endTime=#{end_time},</if>
        <if test="intro!=null">intro=#{intro},</if>
        <if test="type!=null">type=#{type},</if>
        <if test="sponsor!=null">sponsor=#{sponsor},</if>
        <if test="coach!=null">coach=#{coach},</if>
        <if test="place!=null">coach=#{place},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>